<div [style]="{ width: '650px', height: 'auto' }" class="custom-card" >
  <div class="container">
    <div class="center">
      <img alt="No character image available" src="{{getCharacterImage()}}" class="character" />
    </div>
    <div class="center">
      <div style="text-align: left;">
        <p>Race: <i>{{ capitalize(this.charSheet.getRace()) }}</i></p>
        <p>Background: <i>{{ capitalize(this.charSheet.getBackground()) }}</i></p>
        <p>Class: <i>{{ this.charSheet.getClassString() }}</i></p>
        <p>Proficiencies: <i>{{ capitalizeAll(this.charSheet.getProficiencies())}}</i></p>
      </div>
      <div>
        <table style="border-collapse: collapse; border: 1px solid black;">
          <tr>
            <td class="stats"><b>Ability</b></td>
            <td class="stats"><b>Score</b></td>
          </tr>
          <tr>
            <td class="stats">Strength</td>
            <td class="stats">{{ getScore('STRENGTH') }}</td>
          </tr>
          <tr>
            <td class="stats">Dexterity</td>
            <td class="stats">{{getScore('DEXTERITY')}}</td>
          </tr>
          <tr>
            <td class="stats">Constitution</td>
            <td class="stats">{{getScore('CONSTITUTION')}}</td>
          </tr>
          <tr>
            <td class="stats">Intelligence</td>
            <td class="stats">{{getScore('INTELLIGENCE')}}</td>
          </tr>
          <tr>
            <td class="stats">Wisdom</td>
            <td class="stats">{{getScore('WISDOM')}}</td>
          </tr>
          <tr>
            <td class="stats">Charisma</td>
            <td class="stats">{{getScore('CHARISMA')}}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
